* {
    box-sizing: border-box;
    font-optical-sizing: auto;
    scroll-behavior: smooth !important;
}

:root {
    --primaryWhite: #eeeeee;
    --hoverWhite: #f5f5f5;
    --primaryBlack: #222;
    --primaryGrey: #858585;
    --secondaryGrey: #d8d8d8;
    --primaryYellow: #f7d842;
    --secondaryYellow: #ffed99;
    --tertiaryYellow: #b19800;
    --primaryRed: #ff0000;
    --secondaryRed: #710404;
    --primaryGreen: #00ff00;
    --secondaryGreen: #007700;

    --fontFamilyPrimary: "Oswald", sans-serif;
    --fontFamilySecondary: "Roboto", sans-serif;
    --fontSizePrimary: 1.15rem;
    --fontSizeSecondary: 1rem;
    --fontSizeSmallHeading: 1.5rem;
    --fontSizeMediumHeading: 2rem;
    --fontSizeLargeHeading: 3.5rem;

    --boxShadowPrimary: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    --boxShadowSecondary: 0 0 10px 0 rgba(0, 0, 0, 0.4);

    --borderRadiusPrimary: 8px;

    --navbarHeight: 100px;

    --transition-delay: 200ms;
}

.shadow {
    box-shadow: var(--boxShadowPrimary) !important;
}

i {
    transform: scale(1.25) !important;
}

.btn {
    min-height: 40px !important;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.btn-primary {
    background-color: var(--secondaryYellow) !important;
    color: var(--primaryBlack) !important;
    border: none;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: var(--primaryYellow) !important;
}

.badge {
    padding: 0.5rem 1.25rem;
    display: block;
    letter-spacing: 1px;
    font-family: var(--fontFamilyPrimary);
    font-weight: 400;
}

.badge-success {
    background-color: var(--secondaryGreen);
    color: var(--primaryGreen);
}

.badge-neutral {
    background-color: var(--tertiaryYellow);
    color: var(--secondaryYellow);
}

.badge-danger {
    background-color: var(--secondaryRed);
    color: var(--primaryRed);
}

.marker {
    background-color: var(--primaryYellow);
    color: var(--primaryBlack);
}

/* nav */

.navbar {
    padding: 0 50px;
    background-color: var(--primaryBlack);
    font-family: var(--fontFamilyPrimary);
    font-style: normal;
    min-height: var(--navbarHeight);

}

.navbar-nav {
    flex-direction: row;
}

.nav-item {
    transition: all var(--transition-delay) ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5px;
}

.nav-link:after {
    display: block;
    content: '';
    border-bottom: solid 2px var(--primaryYellow);
    transform: scaleX(0);
    transition: all var(--transition-delay) ease-in-out;
    margin-top: 5px;
}

.nav-link.active {
    transition: all var(--transition-delay) ease-in-out;
}

.nav-link:hover:after,
.nav-link.active:after {
    transform: scaleX(1);
    color: var(--primaryYellow);
}

.nav-link {
    padding: 15px;
}

/* header */

header {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    color: var(--primaryWhite);
    font-family: var(--fontFamilyPrimary);
}

header h1 {
    text-transform: uppercase;
}

#homepageHeader {
    height: calc(100vh - var(--navbarHeight));
}

#homepageHeader h1 {
    font-size: var(--fontSizeLargeHeading);
}

#homepageHeader h2 {
    font-size: var(--fontSizeMediumHeading);
}

/* footer */

footer {
    background-color: var(--primaryBlack);
    color: var(--primaryYellow);
    font-family: var(--fontFamilyPrimary);
    font-size: var(--fontSizeSecondary);
    padding: 1rem;
    text-align: center;
}

/* individual components */

/* form */
.authForm {
    max-width: 420px !important;
}

.authFormGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
}

.authFormImage img {
    border-radius: var(--borderRadiusPrimary);
    box-shadow: var(--boxShadowPrimary);
}

/* tabs */
.tabs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style-type: none;
    height: 50px;
    margin: 1rem 1rem 1rem 0;
}

.tabs a {
    background-color: var(--secondaryGrey);
    color: var(--primaryBlack);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 18px !important;
    margin: 0 9px !important;
    text-decoration: none;
    transition: all var(--transition-delay) ease-in-out;
    border-radius: var(--borderRadiusPrimary);
}

.tabs a.active {
    background-color: var(--secondaryYellow);
    color: var(--primaryBlack);
}

.tabs a:hover {
    background-color: var(--primaryYellow);
    color: var(--primaryBlack);
}

.tab-section {
    flex-direction: column;
}

/* img gallery */
.img-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 2rem 0;
}

.img-gallery img {
    max-width: 240px;
    border-radius: var(--borderRadiusPrimary);
    margin: 0.5rem;
    transition: all var(--transition-delay) ease-in-out;
}

.img-gallery img:hover {
    transform: translateY(-5px);
    box-shadow: var(--boxShadowSecondary);
}

/* dialog */

.dialog-content {
    display: flex;
    max-height: 90%;
    overflow: auto;
}

/* card gallery */

.card-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
}

.card-gallery .card {
    max-width: 350px;
    margin: 1rem;
    border-radius: var(--borderRadiusPrimary);
    box-shadow: var(--boxShadowPrimary);
    background-color: var(--primaryWhite);
    transition: all var(--transition-delay) ease-in-out;
}

.card-gallery .card:hover {
    transform: translateY(-5px);
    box-shadow: var(--boxShadowSecondary);
}

.card-gallery .card .card-wrapper {
    color: var(--primaryWhite);
    text-decoration: none;
    border-radius: var(--borderRadiusPrimary);
    padding: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.card-gallery .card .card-wrapper h3 {
    font-size: var(--fontSizeMediumHeading);
    text-align: center;
    margin-bottom: 5rem;
}


/* body */

#bodyMain {
    min-height: 100vh;
}

.halfBody {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1120px;
    margin: 0 auto;
    font-size: var(--fontSizePrimary);
    box-shadow: var(--boxShadowPrimary);
    padding: 2rem;
}

.content {
    font-family: var(--fontFamilySecondary);
    padding: 2rem;
}

.content .group {
    margin: 1rem 0;
}

/* profile */

.userContainer {
    display: flex;
    flex-direction: row;
    padding: 0 2rem;
}

.userContainer .userDetails {
    min-width: 380px;
    border-right: 2px solid var(--secondaryGrey);
    max-width: 500px;
}

.userContainer .userOverview {
    width: 100%;
}

.userOverviewSections {
    border-top: 2px solid var(--secondaryGrey);
}

.userContainerCol .userImage,
.userContainerCol .details {
    transform: translateY(-50%);
    margin: 0 auto;
    padding: 0 2rem;
}

.userContainerCol .tab-section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.userImage img {
    max-width: 220px;
    aspect-ratio: 1/1;
    transform: translateY(-10vh);
}

.drone-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.drone-card {
    max-width: 300px;
    border: 1px solid var(--secondaryGrey);
    border-radius: var(--borderRadiusPrimary);
    transition: all var(--transition-delay) ease-in-out;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.drone-card:hover {
    transform: translateY(-5px);
    box-shadow: var(--boxShadowPrimary);
}

.drone-card-active img {
    max-width: 450px;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: var(--borderRadiusPrimary) !important;
}

.dc-img {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--secondaryGrey);
}

.dc-img img {
    border-radius: var(--borderRadiusPrimary);
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    max-width: 300px;
    max-height: 175px !important;
}

.dc-content {
    padding: 1rem;
}

.drone-dialog {
    flex-direction: column;
    background-color: var(--primaryWhite);
    border-radius: var(--borderRadiusPrimary);
    width: 50%;
}

.drone-dialog .row-1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    border-bottom: 1px solid var(--secondaryGrey);
}

.drone-dialog .row-1 .dc-img img {
    max-width: 500px;
    border-top-right-radius: 0 !important;
}

/* forum */

.forum-wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

.post-card {
    border-radius: var(--borderRadiusPrimary);
    border: 1px solid var(--secondaryGrey);
    display: flex;
    flex-direction: row;
    transition: all var(--transition-delay) ease-in-out;
}

.post-card:hover {
    transform: translateY(-5px);
    box-shadow: var(--boxShadowPrimary);
    cursor: pointer;
}

.post-card-item {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.post-card-item h4 {
    text-align: center;
    width: 100%;
}

.post-card .pc-author,
.post-card .pc-content,
.post-card .pc-category,
.post-card .pc-date {
    border-right: 1px solid var(--secondaryGrey);
    width: fit-content;
}

.post-card .pc-category,
.post-card .pc-date,
.post-card .pc-status {
    justify-content: center;
    padding: 0 1rem;
}

.post-card .pc-author img {
    max-width: 60px;
    aspect-ratio: 1/1;
}

.post-card .pc-author {
    text-align: center;
    min-width: 120px;
}

.post-card .pc-author-name {
    font-size: small;
    font-weight: 400;
    word-break: break-word;
}

.post-card .pc-content h4 {
    text-align: left;
    color: var(--tertiaryYellow);
}

.post-card .pc-content {
    width: 100% !important;
    display: flex;
    align-items: flex-start;
}

/* post comments */

.comment {
    border-radius: var(--borderRadiusPrimary);
    border: 1px solid var(--secondaryGrey);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0.5rem 0;
    transition: all var(--transition-delay) ease-in-out;
}